<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>as</title>

    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
  </head>
  <body>
    <div class="container button-wrapper">
      
      <button class="button button-primary">Primary Default Button</button>

      <button class="button button-primary button-large">
        Primary Large Button
      </button>

      <button class="button button-secondary">Secondary Default Button</button>

      <button class="button button-secondary button-large">
        Secondary Large Button
      </button>

      <button class="button button-error">Error Default Button</button>

      <button class="button button-error button-large">
        Error Large Button
      </button>
      
    </div>
  </body>
</html>
