<!DOCTYPE html>
<html lang="en" class="w-full h-full">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="/assets/css/variables.css" />
      <link rel="stylesheet" href="/components/button/button.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/output.css">
      <link rel="stylesheet" href="layout.css">
         <!-- <link
         href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
         rel="stylesheet" /> -->


   </head>
   <body class="w-full h-full  font-plus-jakarta-sans">
     <!-- HEADER -->
     <header class=" container  flex  items-center w-full px-6 z-0 border-b-2">
      <!-- HEADER LOGO -->
     <div class=" flex text-black font-bold  md:border-r-2 border-gray-300 transition duration-200 ease-in-out focus:outline-none hover:opacity-80 ">
       <a class="cursor-pointer md:flex md:mr-6 lg:mr-8 " href="#">
         <svg
            class="my-5 ml-6 mr-4 md:my-7"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <rect width="6" height="25" rx="2" fill="#635FC7" />
            <rect
               opacity="0.75"
               x="9"
               width="6"
               height="25"
               rx="2"
               fill="#635FC7" />
            <rect
               opacity="0.5"
               x="18"
               width="6"
               height="25"
               rx="2"
               fill="#635FC7" />
         </svg>
         <span class="hidden text-2xl md:block md:py-7 ">Kanban</span>

       </a>
     </div>
       <!-- Name of current Board -->
       <div class="flex w-full justify-between items-center pt-8 pb-9">
         <div class="flex place-items-center cursor-pointer transition duration-200 ease-in-out focus:outline-none hover:opacity-80  md:translate-x-20">
             <span class="currentBoard text-black text-[18px] md:text-[20px] lg:text-[24px] font-bold flex-shrink-0 md:ml-8">Platform Launch</span>
             <svg class="sidebarOpenerIcon rotate-90 inline-block  transition cursor-pointer duration-200 ease-in-out ml-2 md:hidden p-2"
                width="9"
                height="7"
                viewBox="0 0 9 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5 5L9 1" stroke="#635FC7" stroke-width="2" />
             </svg>
             
          </div>

          <div class="flex items-center ">
                  <!-- ADD NEW TASK BUTTON -->
           <button role="button"
              class="btn rounded-full text-center py-2 px-3 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[12px] leading-6 focus:outline-none  bg-[#635fc7]  text-white hover:bg-[#A8A4FF] mr-6">
             + <span class="hidden md:inline-block">Add New Task</span>
           </button>
                 <!-- TRIPLE DOTS -->

            <i class="icon-menu cursor-pointer"></i>

                </div>
       </div>
   </header>
            <!-- MAIN -->
          <main class="  flex md:min-w-3xl w-full h-full relative">
            <div class="blocker"></div>
             <!-- SIDEBAR -->
              <section class="sidebar hidden
                z-50 md:h-full md:justify-between md:items-center transition duration-200 ease-in-out bg-white md:border-r-2 md:block md:max-w-2xl ">
                <!-- LOGO -->
               <div class="flex flex-col w-full ">
                  <div class=" hidden md:flex text-black font-bold mb-14 mt-8  border-gray-300 transition duration-200 ease-in-out focus:outline-none  hover:opacity-80">
                     <a class="cursor-pointer md:flex items-center " href="#">
                        <!-- class=" ml-8 mr-4 " -->
                        <span class="icon-kanban-logo"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>

                       <span class="hidden text-3xl   md:block ">Kanban</span>

                     </a>
                   </div>
                  <!-- NUMBER OF BOARDS -->
                   <div class="numberOfCreatedBoards uppercase mb-5 pl-8 text-[#828FA3] font-medium tracking-wide text-[12px]">

                   </div>
                   <!-- BOARDS CREATED -->
                   <ul class="board-list md:flex md:flex-col">
                  <li class="board__item active mx-0 flex items-center justify-start cursor-pointer text-[#828FA3] text-[15px] pr-6 py-4 transition duration-200 ease-in-out focus:outline-none hover:opacity-80 ">
                                 <i class="icon-layout inline-block pl-8 mr-4"></i>
                    Platform Launch
                   </li>
                  <li class="flex items-center cursor-pointer text-[#828FA3] text-[15px] pr-6 py-4 duration-200 ease-in-out focus:outline-none hover:opacity-80 "><i class="icon-layout inline-block pl-8  mr-4"></i>Marketing Plan </li>

                   </ul>
                   <!-- ADD NEW BOARD -->
                   <div class="addNewBoard text-[#635FC7] text-[15px] cursor-pointer pr-6 py-4 transition duration-200 ease-in-out focus:outline-none hover:opacity-80">
                     <i class="icon-layout inline pl-8  fill-purple-500"></i>
                     + Create New Board
                  </div>
               </div>

               <div class="flex flex-col w-full ">
                  <!-- THEME TOGGLE -->
                  <div class="mx-auto flex items-center gap-4 bg-gray-100  justify-center mb-6 px-16 py-3 ml-8 mr-6  rounded-2xl">
                     <i class="icon-sun text-[#828FA3]"></i>
                          <!-- TOGGLE -->
                      <div class="theme-toggler pointer-events-auto cursor-pointer h-6 w-10 rounded-full p-1 ring-1 ring-inset transition duration-300 ease-in-out bg-[#635FC7] ring-black/20 hover:opacity-80">
                        <div class=" h-4 w-4 rounded-full bg-white shadow-sm ring-1 ring-slate-700/10 transition duration-200 ease-in-out ">
                        </div>
                     </div>
                      <i class="icon-moon text-[#828FA3]"></i>
                  </div>
                  <!-- SIDEBAR HIDER -->
                  <button type="button" class="sidebar-hider rounded-full w-full self-start py-2 font-plus-jakarta-sans font-bold cursor-pointer transition duration-200 ease-in-out text-[13px] leading-6 focus:outline-none bg-white  text-[#828FA3] hover:bg-gray-500  pr-4">
               <i class="icon-eye-close text-[#828FA3] font-bold  "></i>
                        Hide Sidebar
                  </button>
               </div>
              </section>


              <!-- LAYOUT -->
              <section class="bg-[#F4F7FD] w-full h-full flex flex-col justify-center">
               <!-- <ul role="list" class=" flex gap-6">
                  <li class="list-none">Column1</li>
                  <li class="list-none">Column2</li>
                  <li class="list-none">Column3</li>
               </ul> -->
               <!-- WHEN NO COLUMN IS AVAILABLE, show this page -->
                <div class="flex flex-col gap-8">
                   <span class=" text-center text-4.5 text-[#828FA3] mx-2 md:px-5">This board is empty. Create a new column to get started.</span>
                   <button class="btn rounded-full    text-center py-3.5 mx-auto px-4 font-plus-jakarta-sans font-bold text-[15px] leading-5 cursor-pointer transition duration-200 ease-in-out focus:outline-none bg-[#635fc7]  text-white hover:bg-[#A8A4FF]">+ Add New Column</button>
                </div>
                <!-- SIDEBAR REVEALER -->
                <div class="sidebar-revealer hidden md:block absolute left-0 bottom-10 ">
                  <i class="icon-eye btn rounded-r-full text-[16px] text-white hover:bg-[#A8A4FF] cursor-pointer px-6 py-5 bg-[#635FC7] transition duration-200 ease-in-out focus:outline-none"></i>

                </div>
              </section>
            </main>

            <!-- JAVASCRIPT LINKS -->

            <script src="/js/main.js"></script>
            <script src="/components/header/header.js"></script>
            <script src="/components/sidebar/sidebar.js"></script>
            <script src="layout.js"></script>
      </div>
   </body>
</html>
