.board.active{
  background-color: #635FC7;
  color: #fff;
  margin-right: 24px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* SIDEBAR TOGGLER */
/* .sidebar-toggler{

} */