<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/variables.css" />
    <link rel="stylesheet" href="../../assets/css/output.css" />

    <title>Document</title>
  </head>

  <body class="bg-gray-50">
    <div class="status w-fit flex flex-row items-center content-center gap-3">
      <div class="w-5 h-5 rounded-full bg-green-400"></div>
      <div class="uppercase text-base">doing</div>
    </div>
  </body>
</html>
